@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  input:invalid[data-focused="true"], textarea:invalid[data-focused="true"]{
      border: 1px solid red;
      margin-bottom: 6px;
  }
  
  input:invalid[data-focused="true"] ~span, textarea:invalid[data-focused="true"] ~ span{
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-bottom: 10px;
  }

  textarea {
    height: 108px;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    padding: 38px 40px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flip-card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 600px;
    height: 100%;
    perspective: 1000px;
  }

  .flip-card-rotate {
    transform: rotateY(180deg);
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .heading {
    @apply text-2xl font-bold tracking-tighter mb-[20px] md:text-5xl text-center text-chipo-heading;
  }

  .message {
    @apply max-w-[100%] py-1 text-center m-auto font-light tracking-wide md:text-xl md:py-2 lg:max-w-[60%] text-chipo-text;
  }

  .wrap-content {
    @apply m-auto px-[15px] max-w-[1170px];
  }
  
  .divider {
    @apply border-4 border-chipo-gray-blur cursor-pointer hover:border-chipo-text duration-500 w-20 m-auto;
  }

  .modal__video {
    @apply w-[90vw] h-[300px] md:w-[800px] md:h-[500px]
  }
  .swiper_custom {
    &.swiper {
      @apply pb-[50px];

      .swiper-button-next, .swiper-button-prev {
        top: 25%;
        &:hover {
          color: #0084ff;
        }
        color : #4e575f;
        &::after {
          font-size : 30px;
        }
      }
    
    }
  }

  .pagination-item {
    @apply m-2 text-[20px] flex items-center justify-center;
    button {
      @apply rounded-full w-[40px] h-[40px] p-2 cursor-pointer hover:text-chipo-heading flex items-center justify-center;
      &.active {
        @apply bg-chipo-blue text-white;
      }
    }
  }



}

@layer utilities{
  .btn-hover1 {@apply bg-[#374048] text-white}
}
