:root {
  --font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue;

  --text: #ffffff;
  --sub-text: #e8e8e8;
  // --primary: #90f8ff;

  // --primary-hover: #57eef8;
}
